<div class="well well-sm">
	<div class="row">
		<div class="col-xs-6">
		    <div class="btn-group">
		    	<a href="{{ path('homepage') }}" id="grid" class="btn btn-default btn-sm">
		    		<span class="glyphicon glyphicon-th"></span>
		    		Menu inicial
		    	</a>
		    </div>
		</div>
		<div class="col-xs-6">
		    <div class="btn-group">
		        <a href="{{ path('product_create', {}) }}" id="grid" class="btn btn-default btn-sm">
		        <span class="glyphicon glyphicon-plus"></span>Criar produto</a>
		        <a href="{{ path('category_create', {}) }}" id="list" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus">
		        </span>Criar categoria</a> 
		    </div>
		</div>
	</div>
</div>